.wraping {
  border-bottom: 16px solid transparent;
  box-shadow: 5px 5px 5px #6666;
}

.container1 {
  background-color: #f5f5f5;
   width:100%;
  height: 80rem;
  padding:10px 50rem;
  position: relative;
 
}
.container2 {
  background-color: #ffff;
  box-sizing: border-box;
  display: flex;
  height: 45rem;
  width: 70rem;
 
right:20rem;
  position: absolute;
  top: 4rem;
}
.product-text{
  position: absolute;
  left:24rem;
}
.product-text p {
  position: relative;
  font-weight: 400;
  bottom: 0.5rem;
}

.price h3 {
  color: #bb732e;
  top: 10rem;
}
.price p{
    position: absolute;
    top:73px;
   
    

}
input[type="number"] {
  width: 3rem;
  height:2.5rem;
  outline: none;
}
.checkout-button {
  height: 40px;
  position: absolute;
  left: 13.5rem;
  line-height: 40px;
  padding: 0 20px;
  margin-right: 20px;

  background-color: #0b1357;
  color: #ffffff !important;

  border-radius: 4px;
  border: 1px solid transparent;
  text-decoration: none !important;
}
.checkout-button:hover{
    animation: buttons 0.6s linear forwards;
}
.mycart-button {
  height: 40px;
  position: absolute;
  left:3rem;
  color: blue;
  line-height: 40px;
  padding: 0 20px;
  margin-left: 20px;;
  margin-right: 30px;
  border-radius: 4px;
  border: 1px solid blue;
  text-decoration: none !important;
}
.mycart-button:hover{
    color:#fff;
    background-color:#0b1357 ;
    transition: all 0.5s ease-in-out;

}
.field{
  
    border:1px solid #ccc;
    box-sizing: border-box;
    padding:10px;
    margin-bottom: 10px;
    position: relative;
}
.field p{
   
    
   margin-left: 20rem;
  right:100px;
  font-weight: 500;
  font-size: larger;
}
.delivery-arrow a{
    position: relative;
    left:35rem;
    font-size:20px;
    text-decoration: none !important;
    color: #777;
   
}
.delivery-arrow a:hover{
    cursor: pointer;
    color: #bb732e;

}
.wish{
    position: absolute;
    top:23rem;
    left:25rem;
    
}
.wish i{
    padding-right:0.3rem;
    font-size: 20px;
}
.wish a{
    font-size: 20px;
    text-decoration: none;
    color:black;
}
.wish i:hover {

animation: wish 0.4s linear forwards;
}
.wish a:hover{
    color:#bb732e;
}
.description{
  position: absolute;
  display: block;
  top:25rem;
  left:25rem;
}
.social-icons{
  position: absolute;
  top:38rem;
  display: flex;
  right:22rem;
}
.social-icons ul{
  display: flex;

}
.social-icons ul li{
  list-style: none;
  /* padding:0px 20px; */
  color:#777;
  font-size: large;
}
.social-icons ul li a i{
  font-size: 18px;
  color: #777;
}
.social-icons ul li a i:hover{
  color: #777;
}
.container34 {
  background-color: #ffff;
  box-sizing: border-box;
  display: flex;

  height: auto;
  width: 70rem;
 
right:20rem;
  position: absolute;
  top: 55rem;
}
.description-review{
  display: flex;
  position: relative;
  top:50rem;
 right:35rem;
 
}
.description-review p:hover{
  cursor: pointer;
  color:#bb732e !important;
}
.description-review p{
  color:black;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 40px;
 border-width: 10px;
}
.description-text{
  position:relative;
  top:2rem;
  margin-left: 2rem;

  background-color: #ffff;
  box-sizing: border-box;
  display: flex;

  height: 30vh;
  width: 70rem;
 
right:20rem;
  position: absolute;
  top: 55rem;
}
.review-text{
  position:relative;
  top:2rem;
  margin-left: 2rem;
  background-color: #ffff;
  box-sizing: border-box;
  display: flex;

  height: 30vh;
  width: 70rem;
 
right:20rem;
  position: absolute;
  top: 55rem;
}
.product-crumb{
 position: relative;
 bottom: 1rem;


/* top:3rem; */
 
} 
@keyframes wish{
0%{
  
  transform: rotateY(-360deg);
}
50%{

    transform: rotateY(-45deg);
}
100%{
    
    transform: rotateY(0deg);
}    
}