.Button {
    
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        background-color: #0b1357;
        color: #ffffff !important;
        display: inline-block;
        border-radius: 4px;
        border: 1px solid transparent;
}


.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}