.Cards img {
  height: 15rem;
  max-width: 200px;
  image-rendering: auto;
  margin-left: 3.5rem;
}

.card-body {
  text-align: center;
}
.buttons {
  height: 40px;
  position: absolute;
  bottom: 1rem;
  line-height: 40px;
  padding: 0 20px;
  margin-right: 20px;

  background-color: #0b1357;
  color: #ffffff !important;

  border-radius: 4px;
  border: 1px solid transparent;
  text-decoration: none !important;
}
.buttonwrap {
  margin-right: 100px;
}
.buttons:hover {
  background-color: #bb732e;
  animation: buttons 0.6s linear forwards;
}
.fa-rupee-sign {
  color: #bb732e;
}
.card-text1 {
  color: #bb732e;
  display: block;
  font-family: "Roboto-Regular";
  font-size: 20px;
  font-weight: 500;
  line-height: 3.3;
  max-width: 100%;
  position: absolute;
  top: 380px;
  left: 130px;
}
.card-text {
  color: #222;
  display: block;
  font-family: "Roboto-Regular";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
  max-width: 100%;
}
.card-text:hover {
  color: rgb(187, 115, 46);
  cursor: pointer;
}
.card-title:hover {
  color: #bb732e;
  cursor: pointer;
}
.icons1  i {
  
position: relative;
  font-size: 20px;
 
  background: #0b1357;
  border: none;
  box-shadow: none;
  
  color: #fff;
  box-sizing: border-box;
 bottom: 7rem;
 
  line-height: initial;
  outline: none;
  
  border-radius: 50%;
padding: 5px 5px;
  text-align: center;
  height: 30px;
  width: 38px;
}
.icons1  i:hover{
  background-color: #bb732e;
  transition: all 1s ease 0s;
}
.icons1{
  display: none;
  position: relative;
}
.icons1 a{
  margin-right: 20px;
}
.Cards:hover .icons1{
display: inherit;
  transition: all 1s linear;
  
}


@keyframes buttons {
  0% {
    background-color: #0b1357;
  }
  50% {
    background-color: rgba(187, 115, 46, 1);
  }
  100% {
    background-color: rgba(187, 115, 46, 1);
  }
}
