.mgmenu {
    border-bottom: 16px solid transparent;
    box-shadow: 5px 5px 5px #6666;
  }


.wishlist-container{ 
    margin-top: 0.3rem;
width:100%;
  height: 90rem;
  background-color: #f5f5f5;
}
.favitems{
    display: grid;
    grid-template-columns: 200px 600px 200px 150px 250px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    margin:1rem;
    background-color: #fff;
    width: 96.35%;
  
  
    
  }
  .favouriteItems{
    display: grid;
    grid-template-columns: 200px 600px 200px 150px 250px;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    margin:1rem;
    background-color: #fff;
    width: 96.35%;
    border-radius: 10px 10px 10px 10px;
  }

  .AllItems{
    position: relative;
    top:5rem;
  }

  .buttons {
    height: 40px;
    position: absolute;
    bottom: 1rem;
    line-height: 40px;
    padding: 0 20px;
    margin-right: 20px;
    left:50rem;
    background-color: #0b1357;
    color: #ffffff !important;
  
    border-radius: 4px;
    border: 1px solid transparent;
    text-decoration: none !important;
  }
  /* .buttonwrap {
    margin-right: 100px;
  } */
  .buttons:hover {
    background-color: #bb732e;
    animation: buttons 0.6s linear forwards;
  }