.Logo {
  display: flex;
  z-index: 2;
}
.Cart {
  position: relative;
  left: 900px;
  z-index: 9967;
text-decoration: none;
}
.cartss a{
  margin-top: 18px;
  font-size: 2rem;
  color: #777;
  text-decoration: none !important;
  display: flex;
  flex-flow: row;
  z-index: 9967;
  padding-bottom: 20px;
}
.cart-text i{
 font-size: small;
  color:#777;
}
.Cart:hover .cart-text i{

  color:#bb732e;
}
.cartss a:hover {
  color: #bb732e;
  position: relative;
 
}
.dropdown {
  display: none;
  position: absolute;
  top:20px;
  right: 80px;
width: 400px;
height:300px;
  background-color: #f9f9f9;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  background: #fff;

  border: 1px solid #e0e0e0;
  color: #666;
  font-size: 1em;
  line-height: 1.5;
  animation: cart 0.5s linear forwards;
  justify-content: center;
  z-index: 99967;
}
.image-text{
  display: flex;
  color:black;

}

.image-text a img{
  

  position: absolute;
right:7rem;
  width:80px;
  height:75px;
  box-sizing: border-box;
  border:1px solid black;
  }
  .image-text p{
    font-size: 15px;
    position: absolute;
    left:8rem;
    font-weight: 600;
  }
.dropdown hr{
    background-color:black;
    position: absolute;
    top:20px;
    width:auto;
    height: auto;
    z-index:9967;
   
}
.image-text h6{
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right:200px;
  top:8rem;
  border-top:1px solid #e0e0e0 ;
  border-bottom:1px solid #e0e0e0 ;
  box-sizing: border-box;
  
}
.cart-total p{
  position: absolute;
  top:9rem;
  left:17rem;
}

.buttoned {
  position: relative;
  top:70%;

  text-decoration: none !important;
  background: #fff;
    border: 2px solid #e0e0e0;
    color: #323232;
    display: inline-block;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 47px;
    line-height: 43px;
    margin: 10px 4px;
    min-width: 130px;
    padding: 0 15px;
    text-align: center;
    text-transform: none;
    outline: none;
    animation: cart 0.5s linear forwards;
}
.buttoned:hover{
  color:#323232 !important;
    background-color:#bb732e !important;
}
.cartss:hover .dropdown {
  position: absolute;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
  
  color: #bb732e;
  z-index: 99;

}
.Cart span {
  font-size: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-flow: column;
}
.Cart span br {
  margin-top: 1.5rem;
}
.imgess{
  position: relative;
  display: block;
  width:auto;height:auto;
    border:1px solid black;
}
.Logo img {
  height: 100px;
  max-width: 100%;
  margin: 0.65rem 11rem;
  vertical-align: top;
  image-rendering: auto;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.933rem;

  color: #fff;
}
.Logo img::selection {
  background: #91b2c3;
  color: #fff;
}
@keyframes cart{
0%{
opacity:0;
}
50%{
    opacity:0.7;
    
}
100%{
    opacity:1;
    
}
}