.owl {
  margin-top: 2rem;
  width: 80%;
  background-repeat: round;
  margin-bottom: 2rem;
  margin-left: 9rem;
  background-size: center;
  background-position: center center;

  height: 100%;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}
.carousel h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 100px;
  z-index: -1000;
}
.carousel h2 {
  text-align: center;
  margin-bottom: 7rem;
  font-size: 50px;
  z-index: -1000;
}

.carousel-item img {
  height: 400px;
  width:100%;
}
