.Your-Wrapper hr{
    position: relative;
    top:6rem;
    width:60%;
    right:7rem;
}
.Your-Address{
    position: relative;
    top:9rem;
    left:8.5rem;

}
/* .addrs-card
{
    background-color: #f9f9f9;
    width: 40%;

    border: 1px solid #999;
} */
.addrs-card {

  border-radius: 10px 10px 10px 10px;
    background-color: #f9f9f9;
    width: 30%;
    height: 130px;
    border: 1px solid #999;
    box-shadow: 0px 2px 6px rgb(155, 155, 155);
    margin:5px 5px
  }
/* .addrs-content input {
    font-size:200px;
} */
.addrs-content{
    padding:10px 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.addrs-content p{
    cursor:pointer;
    color:#bb732e;
    margin:0px 2rem;
}
.Your-Address hr{
    position: relative;
    width:40%;
    top:0rem;
    bottom: 3rem;
    right:32rem;
   
}
.Your-Wrapper{
    position: relative;
    background-color: #f5f5f5;
    
    height:70rem;
    width:100%;
}

.Your-Bread{
    position: absolute;
left:12rem;
}
.Your-Orders
{
    position: relative;
    background-color: #fff;
    width:40%;
    height:auto;
    left:54rem;
    top:5rem;
    padding: 20px 25px;
}
.wraping {
    border-bottom: 16px solid transparent;
    box-shadow: 5px 5px 5px #6666;
  }
.order-detail
{
    display: grid;
    grid-template-columns: 300px 150px 200px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.YourOrder-content hr{
    position: relative;
  top:3.5rem;
  border: 0.5px solid #999;

}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #bb732e;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  .checkout-items{
    display: grid;
    grid-template-columns: 300px 150px 200px;
    padding: 10px 15px;
    font-weight: 600;
  }
  .checkout-items p:nth-child(2){
    display: inherit;
    margin-left: 3rem;
  }
  .checkout-items p:nth-child(1){
    display: inherit;
    color: #bb732e;
  }
  .Your-Orders h3{
    position: relative;
    left:12rem;
  }