.Modal {
    position: fixed;
    z-index: 99967;
    background-color: white;
    width: 70%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 5%;
    top: 10%;
    box-sizing: border-box;
   transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
.ModalisOpen{
    /* display: block; */
    opacity:1;
    transform:translateY(0) ;
}
.ModalisClosed{
    /* display: block; */
    opacity: 0;
    transform: translateY(-100%);
}